
<img data-src="holder.js/100px250?fg=ffffff&bg=39DBAC&text=Trainer +" >

<div class="container margin-top">
    <div class="row">
        <div class="col-xs-12 col-md-6 col-lg-4">
            <div class="card card-block">
                <img class="card-img-top" data-src="holder.js/100px200/" >
                <div class="card-block">
                    <h4 class="card-title">Card title</h4>
                    <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
                    <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-md-6 col-lg-4">
            <div class="card card-block">
                <img class="card-img-top" data-src="holder.js/100px200/" >
                <div class="card-block">
                    <h4 class="card-title">Card title</h4>
                    <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
                    <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-md-6 col-lg-4">
            <div class="card card-block">
                <img class="card-img-top" data-src="holder.js/100px200/" >
                <div class="card-block">
                    <h4 class="card-title">Card title</h4>
                    <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
                    <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="bg-info paging-top-lg paging-bottom-lg text-center margin-top">
    <div class="row">
        <div class="col-md-4 col-lg-4"></div>
        <div class="col-xs-12 col-md-4 col-lg-4">
            <p>We are waiting for you.</p>
            <div class="container">
                <button type="submit" class="btn btn-secondary btn-block btn-lg" style="border-color: white;color: white;background: transparent">Sign Up</button>
            </div>
        </div>
        <div class="col-md-4 col-lg-4"></div>

    </div>
</div>