{% extends "base.html" %}

{% block nav %}
    <div class="container text-center">
{#        <h1>Trainer +</h1>#}
    <img src="http://www.mx7.com/i/838/2JoHVd.png" style="height: 100px;">
    <span>Trainer +</span>
    </div>
    <nav class="navbar navbar-dark bg-inverse" style="border-radius: 0px">
        <div class="container ">
            <ul class="nav navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="#">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Schedule</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">My Profile</a>
                </li>
{#                <li class="nav-item">#}
{#                    <a class="nav-link" href="#">Setting</a>#}
{#                </li>#}
                <li class="nav-item pull-right">
                    <a class="nav-link" href="#">Sign up</a>
                </li>
                <li class="nav-item pull-right">
                    <a class="nav-link" href="#">Login</a>
                </li>
            </ul>
        </div>
    </nav>

{% endblock %}
{% block content %}
{% endblock %}

{% block footer %}
    <footer class="bg-faded margin-top paging">
        <div>Course: Knowledge Engineer and Knowledge Management</div>
        <div>Developed by Chin, Smart, Kit, Ong, Frank and Emmy</div>

    </footer>
{% endblock %}

