
<div class="text-center">
    <h1 type="center-block" style="background: #c0392b; color: white;; padding: 100px;">WORKOUT PROGRAMS</h1>
    <div class="container margin-top">
{#        <h1 type="center-block" class="bg-success bg-lg">WORKOUT PROGRAMS</h1>#}

        <table class="table table-striped">
            <thead>
            <tr>
                <th>Date</th>
                <th>Workout</th>
                <th>Time</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <th scope="row"></th>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <th scope="row"></th>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <th scope="row"></th>
                <td></td>
                <td></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
<div class="col-md-2 col-lg-3">
</div>
