
<div class="text-center margin-top">
    <div class="container margin-top">
        <h1 type="center-block" class="bg-success bg-lg">WORKOUT PROGRAMS</h1>
    </div>
    <div class ="container">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Date</th>
                <th>Workout</th>
                <th>Time</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row"></th>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <th scope="row"></th>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <th scope="row"></th>
                <td></td>
                <td></td>
            </tr>
        </tbody>
    </table>
    </div>
</div>
<div class="col-md-2 col-lg-3">
</div>
